<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service uses IIS with iisnode to host Node.js apps.
  This web.config tells IIS to route all traffic through server.js.
-->
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Don't rewrite requests to node_modules -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- Static files in /public served directly -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
        </rule>

        <!-- All other requests go to server.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      node_env="%node_env%"
      nodeProcessCommandLine="node"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
    />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
